@tailwind base;
@tailwind components;
@tailwind utilities;

.sliderArrow {
  /* width: 50px;
  height: 100%; */
  background-color: rgb(22, 22, 22, 0.5);
}

.movieContainer {
  margin-left: 50px;
  width: max-content;
  transform: translateX(0rem);
  transition: all 1s ease;
}

/* .movieItem {
  width: 225px;
  height: 120px;
  margin-right: 5px;
} */
